body {
    font-family: Arial, sans-serif;
    background-color: #d45d5d;
}

header {
    background-color: #005b44;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #78be20;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

input, select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
